<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterTzApplicationApp.gift.home.title">Gifts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-gift" [routerLink]="['/gift/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="jhipsterTzApplicationApp.gift.home.createLabel">
            Create new Gift
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jhipsterTzApplicationApp.gift.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="gifts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amount"><span jhiTranslate="jhipsterTzApplicationApp.gift.amount">Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderedAt"><span jhiTranslate="jhipsterTzApplicationApp.gift.orderedAt">Ordered At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fee"><span jhiTranslate="jhipsterTzApplicationApp.gift.fee">Fee</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="exchangeRate"><span jhiTranslate="jhipsterTzApplicationApp.gift.exchangeRate">Exchange Rate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totalAmount"><span jhiTranslate="jhipsterTzApplicationApp.gift.totalAmount">Total Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sendFrom"><span jhiTranslate="jhipsterTzApplicationApp.gift.sendFrom">Send From</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="message"><span jhiTranslate="jhipsterTzApplicationApp.gift.message">Message</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="referenceNumber"><span jhiTranslate="jhipsterTzApplicationApp.gift.referenceNumber">Reference Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="depositor"><span jhiTranslate="jhipsterTzApplicationApp.gift.depositor">Depositor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="displayAt"><span jhiTranslate="jhipsterTzApplicationApp.gift.displayAt">Display At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="senderId"><span jhiTranslate="jhipsterTzApplicationApp.gift.senderId">Sender Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="recipientId"><span jhiTranslate="jhipsterTzApplicationApp.gift.recipientId">Recipient Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="giftcardId"><span jhiTranslate="jhipsterTzApplicationApp.gift.giftcardId">Giftcard Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="giftcard.id"><span jhiTranslate="jhipsterTzApplicationApp.gift.giftcard">Giftcard</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="recipient.id"><span jhiTranslate="jhipsterTzApplicationApp.gift.recipient">Recipient</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gift of gifts ;trackBy: trackId">
                <td><a [routerLink]="['/gift', gift.id, 'view' ]">{{gift.id}}</a></td>
                <td>{{gift.amount}}</td>
                <td>{{gift.orderedAt | date:'mediumDate'}}</td>
                <td>{{gift.fee}}</td>
                <td>{{gift.exchangeRate}}</td>
                <td>{{gift.totalAmount}}</td>
                <td>{{gift.sendFrom}}</td>
                <td>{{gift.message}}</td>
                <td>{{gift.referenceNumber}}</td>
                <td>{{gift.depositor}}</td>
                <td>{{gift.displayAt}}</td>
                <td>{{gift.senderId}}</td>
                <td>{{gift.recipientId}}</td>
                <td>{{gift.giftcardId}}</td>
                <td>
                    <div *ngIf="gift.giftcard">
                        <a [routerLink]="['../giftcard', gift.giftcard?.id, 'view' ]" >{{gift.giftcard?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="gift.recipient">
                        <a [routerLink]="['../recipient', gift.recipient?.id, 'view' ]" >{{gift.recipient?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/gift', gift.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/gift', gift.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'gift/'+ gift.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="gifts && gifts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
